@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Poppins|Staatliches|Ubuntu');

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

/* a:hover {
  color: rgb(44, 44, 44);
} */

/* a:active {
  color: rgb(44, 44, 44);
} */

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./resources/85817.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  font-family: 'Crimson Text', serif;
  color: rgb(196, 196, 196);
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
}

nav {
  font-family: 'Ubuntu', sans-serif;
  height: 10vh;
  position: absolute;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  z-index: 10;
}

.thingy {
  background-color: red;
  color: blue;
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

.logo {
  height: 80%;
  width: auto;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 5%;
}

.singleNav {
  margin-right: 5vw;
  text-align: center;
}

.page {
  height: 100vh;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homebox {
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.ima {
  position: relative;
  text-align: center; 
}

.imaps > p {
  margin-top: 60px;
  font-family: 'Crimson Text', serif;
}

.imaps {
  margin-top: 50px;
  font-size: 26px;
}

.intrigued {
  background-color:rgb(103, 188, 221);
  color: rgb(44, 44, 44);
  width: 30%;
  padding: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

.intigued:link {
  color: rgb(44, 44, 44);
}

.intigued:visited {
  color: rgb(44, 44, 44);
}

.about {
  display: flex;
}

.aboutpage {
  background-color: rgb(255, 255, 255, 0.9);
  position: relative;
  margin: auto;
  text-align: center;
}

.aboutpage > h1 {
  font-family: 'Crimson Text', serif;
  letter-spacing: inherit;
  margin-top: 50px;
  font-size: 42px;
  color: rgb(44, 44, 44);
}

.alignedme {
  margin: 5%;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;

}

.mepicture {
  height: 400px;
}

.aboutme {
  color: rgb(61, 61, 61);
  width: 45%;
  font-size: 26px;
  position: relative;
}

.skills {
  margin-bottom: 50px;
}

.skills > h1 {
  font-family: 'Crimson Text', serif;
  letter-spacing: inherit;
  font-size: 42px;
  color: rgb(44, 44, 44);
}

.logos {
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.themlogos {
  text-align: center;
  font-size: 22px;
  color: rgb(61, 61, 61);
}

.logothing {
  position: relative;
  width: 100px;
  padding: 5px;
  margin: auto;
}

.themlogos > p {
  margin-top: 30px;
}

hr {
  margin: 5%;
}

h6 {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 50px;
  color: rgb(119, 119, 119);
}

.bluelink:link {
  color: rgb(103, 188, 221);
}

.bluelink:visited {
  color: rgb(103, 188, 221);
}

footer {
  height: 425px;
}

.contact {
  background-color: rgb(255, 255, 255, 0.9);
  height: 60vh;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20vh;
}

.reach {
  margin: 5%;
  font-family: 'Crimson Text', serif;
  font-size: 42px;
  color: rgb(44, 44, 44);
  text-align: center;
}

.innercontact {
  color: rgb(119, 119, 119);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.innercontact > img {
  width: 300px;
  height: 300px;
  position: relative;
  right: 100px;
}

.gitlink {
  padding-top: 25px;
  padding-bottom: 25px;
}

.projects {
  background-color: rgb(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 20vh;
  text-align: center;
}

.projects > h1 {
  padding: 5%;
  font-size: 42px;
  font-family: 'Crimson Text', serif;
  color: rgb(44, 44, 44);
}

.pro {
  font-size: 28px;
  color: rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

.pro > h2 {
  padding: 1%;

}

.pro > p {
  padding: 1%;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
}

.carousel {
  padding: 20px;
}

.mySlides {
  max-width: 80vw;
  max-height: 60vh;
  margin: auto;
}

.bottom {
  padding-bottom: 5%;
}

.profooter {
  height: 200px;
}


@media (max-width: 1200px) {
  nav {
    width: 100vw;
  }
  .logo {
    /* position: relative; */
    left: 0;
  }
  .singleNav {
    font-size: 20px;
    /* padding: ; */
  }
  .navItems {
    text-align: right;
    width: 80vw;
    flex-wrap: wrap;
    position: relative;
    left: 10%;
  }
  .intrigued {
    width: 50%;
  }
  .aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }
  .alignedme {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
  }
  .aboutpage > h1 {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .clickhere {
    font-size: 18px;
  }

  .mepicture {
    width: 80%;
    height: 80%;
  }
  .aboutme {
    /* text-align: justify; */
    width: 80%;
  }
  .aboutme > p {
    font-size: 18px;
  }
  .contact {
    height: 85vh;
  }

  footer {
    height: 10vh;
  }

  .innercontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh;
  }
  .innercontact > img {
    left: 0;
  }
  .skills {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logos {
    display: flex;
    flex-direction: column;
    left: 0;
  }
  .themlogos {
    margin: 10px;
  }
  .themlogos > p {
    margin-top: 5%;
  }
}