@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Poppins|Staatliches|Ubuntu');

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

/* a:hover {
  color: rgb(44, 44, 44);
} */

/* a:active {
  color: rgb(44, 44, 44);
} */

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./resources/85817.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  font-family: 'Crimson Text', serif;
  color: rgb(196, 196, 196);
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
}


nav {
  font-family: 'Ubuntu', sans-serif;
  height: 10vh;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  z-index: 10;
}

.thingy {
  background-color: red;
  color: blue;
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

.logo {
  height: 80%;
  width: auto;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 5%;
}

.singleNav {
  margin-right: 5vw;
  text-align: center;
}

.page {
  height: 100vh;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homebox {
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.ima {
  position: relative;
  text-align: center; 
}

.imaps > p {
  margin-top: 60px;
  font-family: 'Crimson Text', serif;
}

.imaps {
  margin-top: 50px;
  /* font-family: 'Crimson Text', serif; */
  font-size: 26px;
}

.intrigued {
  background-color:rgb(103, 188, 221);
  color: rgb(44, 44, 44);
  width: 30%;
  padding: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 10px;
  margin: auto;
  margin-top: 10vh;
  text-align: center;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

.intigued:link {
  color: rgb(44, 44, 44);
}

.intigued:visited {
  color: rgb(44, 44, 44);
}

.about {
  display: flex;
}

.aboutpage {
  background-color: rgb(255, 255, 255, 0.9);
  position: relative;
  margin: auto;
  text-align: center;
}

.aboutpage > h1 {
  font-family: 'Crimson Text', serif;
  letter-spacing: inherit;
  margin-top: 50px;
  font-size: 42px;
  color: rgb(44, 44, 44);
}

.alignedme {
  margin: 5%;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;

}

.mepicture {
  height: 400px;
}

.aboutme {
  color: rgb(61, 61, 61);
  width: 45%;
  font-size: 26px;
  position: relative;
}

.skills {
  margin-bottom: 50px;
}

.skills > h1 {
  font-family: 'Crimson Text', serif;
  letter-spacing: inherit;
  margin-top: 50px;
  font-size: 42px;
  color: rgb(44, 44, 44);
}

.logos {
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.themlogos {
  text-align: center;
  font-size: 22px;
  color: rgb(61, 61, 61);
}

.logothing {
  position: relative;
  width: 100px;
  padding: 5px;
  margin: auto;
}

.themlogos > p {
  margin-top: 30px;
}

h6 {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 50px;
  color: rgb(119, 119, 119);
}

.bluelink:link {
  color: rgb(103, 188, 221);
}

.bluelink:visited {
  color: rgb(103, 188, 221);
}

footer {
  height: 425px;
}
