a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: unset;
}

a:hover {
  background-color: white;
  color: black;
}

a:active {
  color: none;
}

p {
  color: #20c20e;
}

body {
  background-image: url('./resources/85817.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
  color: #20c20e;
}

nav {
  background-color: rgb(0, 0, 0, 0.7);
  height: 10vh;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 36px;
  z-index: 10;
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

.logo {
  height: 80%;
  width: auto;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 5%;
}

.singleNav {
  margin-right: 5vw;
  text-align: center;
}

.page {
  height: 100vh;
  
}

.home {
  display: flex;
  background-color: rgb(0, 0, 0, 0.7);
}

.homebox {
  width: 80%;
  height: 10%;
  position: relative;
  left: 10%;
  top: 30%;
  font-size: 30px;
  /* text-align: center; */
}

.ima {
  position: relative;
  top: 100px;
  text-align: center;
  animation: 
    typing 4.5s steps(40, end),
    blink-caret 1.5s;
}

.about {
  display: flex;
}

.aboutpage {
  background-image: url('./resources/terminal.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 80%;
  position: relative;
  top: 5%;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
  border-radius: 10px;
}

.mepicture {
  border-radius: 50%;
  /* margin: auto; */
  height: 50%;
}

.aboutme {
  color: white;
}
